In [1]:
import pandas as pd
# To  add  a new coloumn 
data = {
    'Name':['Karan','Meera','David', 'Anita'],
    'Age': [21, 23, 26,22],
    'city':['Bangalore', 'Pune', 'Hyderabad', 'Kolkata']
}
data = pd.DataFrame(data)
#To add new coloumn
data['marks'] = [95,76,89,82]
#Change the name in the 3rd row (index 2) to 'Sonu'
data['Name'][2]= 'Sonu'
data.loc[2,'Name']= 'Sonu'
print(data)

    Name  Age       city  marks
0  Karan   21  Bangalore     95
1  Meera   23       Pune     76
2   Sonu   26  Hyderabad     89
3  Anita   22    Kolkata     82

C:\Users\HP\AppData\Local\Temp\ipykernel_9908\3092917811.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Name'][2]= 'Sonu'
C:\Users\HP\AppData\Local\Temp\ipykernel_9908\3092917811.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Name'][2]= 'Sonu'

In [2]:
df = [5,10,15,20,25]
ds = pd.Series(df)
print(ds.loc[2])
print(ds.iloc[3])
print(ds[ds>10])

15
20
2    15
3    20
4    25
dtype: int64

In [3]:
da = {
    'Name': ['Riya', 'Amit', 'Sara', 'John'],
    'Age': [22,25,24,28],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Delhi']
}
ds = pd.DataFrame(da)
print(ds[['Name','City']])
print(ds[['Name', 'Age']])
print(ds[ds['Age']>23])
print(ds[(ds['City'] == 'Japan') & (ds['Age']>23)])
ds['Mark']= [85,92,78,88]
print(ds)
ds['Name'][2] = 'Rahul'
print(ds)
ds.drop('City', axis= 1, inplace=True)
print(ds)
ds.rename(columns={'Mark': 'Score'}, inplace=1)
print(ds)

   Name     City
0  Riya    Delhi
1  Amit   Mumbai
2  Sara  Chennai
3  John    Delhi
   Name  Age
0  Riya   22
1  Amit   25
2  Sara   24
3  John   28
   Name  Age     City
1  Amit   25   Mumbai
2  Sara   24  Chennai
3  John   28    Delhi
Empty DataFrame
Columns: [Name, Age, City]
Index: []
   Name  Age     City  Mark
0  Riya   22    Delhi    85
1  Amit   25   Mumbai    92
2  Sara   24  Chennai    78
3  John   28    Delhi    88
    Name  Age     City  Mark
0   Riya   22    Delhi    85
1   Amit   25   Mumbai    92
2  Rahul   24  Chennai    78
3   John   28    Delhi    88
    Name  Age  Mark
0   Riya   22    85
1   Amit   25    92
2  Rahul   24    78
3   John   28    88
    Name  Age  Score
0   Riya   22     85
1   Amit   25     92
2  Rahul   24     78
3   John   28     88

C:\Users\HP\AppData\Local\Temp\ipykernel_9908\3782548987.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  ds['Name'][2] = 'Rahul'
C:\Users\HP\AppData\Local\Temp\ipykernel_9908\3782548987.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Name'][2] = 'Rahul'

In [4]:

de ={
    'Name': ['Amit', ' Riya', 'Sara', 'None'],
    'Age': [25,'None', 22,30]
}
ds = pd.DataFrame(de)
ds['Age'].value_counts()
print(ds)

    Name   Age
0   Amit    25
1   Riya  None
2   Sara    22
3   None    30

In [5]:
dx ={
    'Name':['Riya','Amit', 'Sara', 'John'],
    'Marks':[85,92,78,88]
}
dy = pd.DataFrame(dx)
dy.sort_values('Marks', ascending=1, inplace=True)
print(dy)
dy.sort_values('Marks', ascending=0, inplace=True)
print(dy)

   Name  Marks
2  Sara     78
0  Riya     85
3  John     88
1  Amit     92
   Name  Marks
1  Amit     92
3  John     88
0  Riya     85
2  Sara     78

In [6]:
dv = {
    'City':['Delhi','Delhi','Chennai', 'Mumbai','Mumbai'],
    'Marks':[80,90,70,85,95]
    }
dw = pd.DataFrame(dv)
mean_per_city = dw.groupby('City')['Marks'].mean()
print(mean_per_city)
max_per_city = dw.groupby('City')['Marks'].max()
print(max_per_city)
dw.sort_values('Marks', ascending=1, inplace=True)

City
Chennai    70.0
Delhi      85.0
Mumbai     90.0
Name: Marks, dtype: float64
City
Chennai    70
Delhi      90
Mumbai     95
Name: Marks, dtype: int64

In [13]:
new_rows = pd.DataFrame([
    {'Name': 'Kumar', 'Age': 20, 'Marks': 90, 'City': 'Kerala'},
    {'Name': 'Rahul', 'Age': 26, 'Marks': 85, 'City': 'Mizoram'}
])
dw = pd.concat([dw, new_rows], ignore_index=True)
print("after adding new rows")
print(dw,"/n")

after adding new rows
       City  Marks   Name   Age
0   Chennai     70    NaN   NaN
1     Delhi     80    NaN   NaN
2    Mumbai     85    NaN   NaN
3     Delhi     90    NaN   NaN
4    Mumbai     95    NaN   NaN
5       NaN     90  Kumar  20.0
6       NaN     85  Rahul  26.0
7       NaN     90  Kumar  20.0
8       NaN     85  Rahul  26.0
9       NaN     90  Kumar  20.0
10      NaN     85  Rahul  26.0
11      NaN     90  Kumar  20.0
12      NaN     85  Rahul  26.0
13   Kerala     90  Kumar  20.0
14  Mizoram     85  Rahul  26.0
15   Kerala     90  Kumar  20.0
16  Mizoram     85  Rahul  26.0
17   Kerala     90  Kumar  20.0
18  Mizoram     85  Rahul  26.0 /n

In [15]:
print("Accessing name and marks form rows 0 to 2: ")
print(dw.loc[0:3,['Name', 'Marks']])

Accessing name and marks form rows 0 to 2:
  Name  Marks
0  NaN     70
1  NaN     80
2  NaN     85
3  NaN     90

In [16]:
print("Mean age for each name((GroupBy):')")
group = dw.groupby('Name')
print(group['Age'].mean())

Mean age for each name((GroupBy):')
Name
Kumar    20.0
Rahul    26.0
Name: Age, dtype: float64

In [24]:
print("Aggregate Functons on 'Age' coloumn")
print("Mean Age :", dw['Age'].mean())
print("Mean Age :", dw['Age'].sum())
print("Mean Age :", dw['Age'].min())
print("Mean Age :", dw['Age'].max())
print("Mean Age :", dw['Age'].product())

Aggregate Functons on 'Age' coloumn
Mean Age : 23.0
Mean Age : 322.0
Mean Age : 20.0
Mean Age : 26.0
Mean Age : 1.028071702528e+19